
<%= form_tag session_path do %>
<div class="form-row">
  <h1 class='login'>Log In</h1>
  <div class="login-fields">
  <%= text_field_tag :email, params[:email] ,placeholder: "Email", class: 'form-control form-control-lg',id:"colFormLabelLg"%>
</div>


  <div class="login-fields">
  <%= password_field_tag :password, params[:password], class:"form-control form-control-lg",id:"colFormLabelLg",placeholder: "password" %>
</div>
  <div class="action"> <%= submit_tag "Log in" %>

</div>

</div>
<%end %>

<div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["Google_key"]%>&callback=initFirstMap&libraries=geometry"
async defer></script>
</div>
