<h1 class='login'>Log In</h1>

<%= form_tag session_path do %>
<div class="field">
  <%= label_tag :email %><br>
  <%= text_field_tag :email, params[:email] %>
</div>
<div class="field">
  <%= label_tag :password %><br>
  <%= password_field_tag :password, params[:password] %>
</div>
<div class="action"> <%= submit_tag "Log in" %>

</div>
<%end %>

<div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["Google_key"]%>&callback=initFirstMap&libraries=geometry"
async defer></script>
</div>
