<h1> <%= @user.name %>'s page </h1>

<h2> <%= @user.name %>'s results </h2>


<% @user.results.each do |result| %>
  <%= @surveys.find(result.survey_id).name %>
  <% @user.match_generator(result).each do |user_id, compatibility| %>
    <p> You are <%= compatibility %> compatible with <%= @users.find(user_id).name%>. </p>

  <%end %>
<% end  %>
