<h1> About <%= @user.name %></h1>
<%if @user.avatar_file_size %>
  <%= image_tag @user.avatar.url(:thumb) %>
<% end %>
<p> Description: <%= @user.description %> </p>
<p> Pet Peeves: <%= @user.pet_peeves %> </p>
<% if @user == current_user %>
<%= link_to("Edit Profile", edit_user_path) %>
<%= link_to("Delete Profile", user_path, method: :delete, data: {confirm: "Are you sure?"}) %>
<%end %>
<% if @user.results.length > 0 %>
<button class="meetup">Want to Kvetch with others?</button>
<%end %>

<div class = "user_modal">
  <p> meetups you may enjoy </p>
</div>


<!-- ========== Google Maps ============== -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["Google_key"]%>&callback=initShowMap&libraries=geometry"
async defer></script>



  </body>
</html>
