<h1> About <%= @user.name %></h1>
<%if @user.avatar_file_size %>
  <%= image_tag @user.avatar.url(:thumb) %>
<% end %>
<p> Description: <%= @user.description %> </p>
<p> Pet Peeves: <%= @user.pet_peeves %> </p>
<% if @user == current_user %>
<%= link_to("Edit Profile", edit_user_path) %>
<%= link_to("Delete Profile", user_path, method: :delete, data: {confirm: "Are you sure?"}) %>
<%end %>



<!-- ========== Google Maps ============== -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["Google_key"]%>&callback=initShowMap&libraries=geometry"
async defer></script>

<form class="" action="#" method="post">
  <input id="radInput" type="text" name="radInput" value="">
  <button id="radButton" type="submit" name="button">Radius</button>
</form>


  </body>
</html>
