<h1>Chat Room</h1>
Logged in:
<div id="logged_in"></div>
<p>Chatting with <%= @receiver.name %> Status: <%=@receiver.status%> </p>
<%= form_tag '/message', id: 'form_message'  do %>
  Enter your message:
  <%= text_field_tag :text_message %>
  <%= hidden_field_tag :user , @current_user.name %>
  <%= hidden_field_tag :receiver, @receiver.id %>
  <%= submit_tag 'Send' , data: {disable_with: false}%>
<% end %>

<pre id="messages" style='border: 2px solid blue; padding: 1rem; margin: 1rem'></pre>

<div id="map"></div>

<%=tag("div", :id => 'fsa_data', :data => {:fsa => @fsa_array})%>

<% if current_user%>
<%=tag("div", :id => 'current_guy', :data => {:latitude => current_user.fsa.latitude, :longitude => current_user.fsa.longitude}) %>
<% end %>

<script>


  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%=@current_user.fsa.latitude  %> , lng: <%=@current_user.fsa.longitude  %>},
      zoom: 12,
      styles: purple
    });


    var marker = new google.maps.Marker({
     position: {lat: <%=@current_user.fsa.latitude  %> , lng: <%=@current_user.fsa.longitude  %>},
     map: map,
     title: 'Me'
    });

    var otherMarker = new google.maps.Marker({
     position: {lat: <%=@receiver.fsa.latitude  %> , lng: <%=@receiver.fsa.longitude  %>},
     map: map,
     title: 'Them'
    });

   var differenceCoordinates =[
     {lat: <%=@current_user.fsa.latitude  %> , lng: <%=@current_user.fsa.longitude  %>},
     {lat: <%=@receiver.fsa.latitude  %> , lng: <%=@receiver.fsa.longitude  %>},
   ];

   var senderInfoWindow = new google.maps.InfoWindow({
      content: "Sender: <%= @current_user.name %>" + "<br>" + "Description:  <%=@current_user.description  %> "
          });
  //
  var receiverInfoWindow = new google.maps.InfoWindow({
    content: "Receiver: <%= @receiver.name %>" +  "<br>" + "Description:  <%=@receiver.description  %> "
  });



   marker.addListener('click', function(event){
    senderInfoWindow.open(map, marker)
   })


   otherMarker.addListener('click', function(event){
    receiverInfoWindow.open(map, otherMarker)
   })

   var differenceLine = new google.maps.Polyline({
     path: differenceCoordinates,
     geodesic: true,
     strokeColor: 'deeppink',
     strokeOpacity: 1.0,
     strokeWeight: 4
   });

   differenceLine.setMap(map);
 }

</script>
<script>
  var purple =
[
    {
        "featureType": "all",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "hue": "#bc00ff"
            },
            {
                "saturation": "0"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#e8b8f9"
            }
        ]
    },
    {
        "featureType": "administrative.country",
        "elementType": "labels",
        "stylers": [
            {
                "color": "#ff0000"
            }
        ]
    },
    {
        "featureType": "administrative.land_parcel",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#3e114e"
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            },
            {
                "color": "#a02aca"
            }
        ]
    },
    {
        "featureType": "landscape.natural",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "color": "#2e093b"
            }
        ]
    },
    {
        "featureType": "landscape.natural",
        "elementType": "labels.text",
        "stylers": [
            {
                "color": "#9e1010"
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape.natural",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#ff0000"
            }
        ]
    },
    {
        "featureType": "landscape.natural.landcover",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "color": "#58176e"
            }
        ]
    },
    {
        "featureType": "landscape.natural.landcover",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "color": "#a02aca"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#d180ee"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "color": "#a02aca"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            },
            {
                "color": "#ff0000"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels.text",
        "stylers": [
            {
                "color": "#a02aca"
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#cc81e7"
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "hue": "#bc00ff"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#6d2388"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#c46ce3"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#b7918f"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#280b33"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "color": "#a02aca"
            }
        ]
    }
]
</script>
