<h1>Survey</h1>

<script>
var key = []
var value = []
var rails_env = "<%=ENV["PokeGif_Key"]%>"
</script>

<% @results.each_with_index do |(k,v),i| %>

<script>
  key['<%=i%>'] = '<%=k%>'
  value['<%=i%>'] = '<%=v%>'
</script>
  <%end  %>

<button type="submit" name="start_survey">Start Survey</button>
<br>

<%= @results.keys %>
<%=@results.values%>
