<!DOCTYPE html>
<html>
  <head>


    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
    </style>

    <title>HateDate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application"  %>
  </head>



  <body>

    <header class="site-header">
      <h1 class="logo"> HateDate</h1>


      <nav class="site-nav">
        <%= form_tag find_user_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: "Pet Peaves" %>
          <%= submit_tag "Search", :title => nil %>
        </p>
        <%end %>
          <%= link_to("Surveys", surveys_path) %>
        <% if current_user %>
          <%= link_to("Profile Page", user_path(current_user)) %>
          <%= link_to("Matches", user_matches_path(current_user)) %>
          <%= link_to("Meetups", user_meetups_path(current_user)) %>
          <%= link_to "Logout", :logout, method: :delete %>
          <%= form_for current_user, url: change_status_path(current_user.id)  do |f|%>
          <%= f.label :status %>
          <%= f.select :status, ['Online', 'Busy', 'Available'], {}, {:onChange=>"this.form.submit()"} %>
          <%end %>

        <% else %>
          <%= link_to "Register", new_user_path %>
          <%= link_to "Login", :login %>
        <% end %>

      </nav>
    </header>
    <main>

   <% if flash[:notice] %>
      <p class="notice"><%=  flash[:notice]%></p>
    <% end %>
   <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>

  <%= yield %>

<!-- ========== Google Maps ============== -->


    <!-- ========== Google Maps End ============== -->

    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["Google_key"]%>&callback=initMap"
    async defer></script>
    </main>

</body>
</html>
