<!DOCTYPE html>
<html>
  <head>


    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
    </style>

    <title>HateDate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application"  %>
  </head>



  <body>

    <header class="site-header">
      <h1 class="logo"> HateDate</h1>


      <nav class="site-nav">
          <%= link_to("Home", root_path) %>
          <%= link_to("Surveys", surveys_path) %>
        <% if current_user %>
          <%= link_to("Profile Page", user_path(current_user)) %>
          <%= link_to("Matches", user_matches_path(current_user)) %>
          <%= link_to "Logout", :logout, method: :delete %>

        <% else %>
          <%= link_to "Register", new_user_path %>
          <%= link_to "Login", :login %>
        <% end %>

      </nav>
    </header>
    <%= yield %>

</body>
</html>
