<!DOCTYPE html>
<html>
  <head>


    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
    </style>

    <title>HateDate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application"  %>
  </head>



  <body>

    <header class="site-header">
      <h1 class="logo"> HateDate</h1>


      <nav class="navbar">
        <%= form_tag find_user_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: "Pet Peeves" %>
          <%= submit_tag "Search", :title => nil %>
        </p>
        <%end %>
          <%= link_to("Surveys", surveys_path) %>
        <% if current_user %>
          <%= link_to("Profile Page", user_path(current_user)) %>
          <%= link_to("Matches", user_matches_path(current_user)) %>
          <%= link_to("Meetups", user_meetups_path(current_user)) %>
          <%= link_to "Logout", :logout, method: :delete %>
          <%= form_for current_user, url: change_status_path(current_user.id)  do |f|%>
          <%= f.label :status %>
          <%= f.select :status, ['Online', 'Busy', 'Available'], {}, {:onChange=>"this.form.submit()"} %>
          <%end %>

        <% else %>
          <%= link_to "Register", new_user_path %>
          <%= link_to "Login", :login %>
        <% end %>

      </nav>
    </header>
    <main>

   <% if flash[:notice] %>
      <p class="notice"><%=  flash[:notice]%></p>
    <% end %>
   <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>

  <%= yield %>

<!-- ========== Google Maps ============== -->


    <div id="map"></div>

    <% @fsa_array = [] %>
    <% User.all.each do |user|%>
      <%if user.fsa %>
        <% hasher = { fsa_name: user.fsa.name, lat: user.fsa.latitude, lng: user.fsa.longitude}  %>
        <% @fsa_array << hasher %>
        <% end %>
    <% end %>

    <%=tag("div", :id => 'fsa_data', :data => {:fsa => @fsa_array})%>

    <% @user_array = [] %>
    <% User.all.each do |user|%>
      <% hasher = {} %>
      <% hasher[:id] = user.id %>
      <% hasher[:fsa_name] = user.fsa.name %>
      <% hasher[:latitude] = user.fsa.latitude %>
      <% hasher[:longitude] = user.fsa.longitude %>
      <% @user_array << hasher %>
    <% end %>

    <%=tag("div", :id => 'user_locations', :data => {:user_location => @user_array})%>


    <% if current_user%>
    <%=tag("div", :id => 'current_guy', :data => {:latitude => current_user.fsa.latitude, :longitude => current_user.fsa.longitude}) %>
    <% end %>
<!-- ========== Google Maps End ============== -->

    </main>

</body>
</html>
